.article-cardcripto {
    padding: 5px;
    border: 2px solid rgb(161, 217, 240);
    border-left: 10px solid rgb(161, 217, 240);
    border-right: 10px solid rgb(161, 217, 240);
    border-radius: 10px;
    margin: 10px;
}

.div-cardcripto h3, h4, h5{
    color: rgb(161, 217, 240);
}

.div-cardcripto span{
    color: white;
}


.positivo {
    color: greenyellow;
}

.negativo {
    color: red;
}